dotenv
pytest
pytest-html
paramiko
psutil
pyserial
pyshark
scapy
requests
httpx
python-dateutil
pandas
numpy
openpyxl
xlrd
xlsxwriter
tenacity
ollama
git+https://github.com/bmwcarit/python-dlt.git@v2.18.10.1
git+https://github.com/bmwcarit/dltlyse.git@v1.4.3
